@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <button><a asp-action="ViewClinics" asp-controller="Clinics">Admin</a></button>
        <button><a href="~/Clinics/ViewClinics?role=doctor">Doctor</a></button>
    </div>
</div>
