@model Clinic

<div>
    <form id="UpdateClinicForm" method="post" action="UpdateClinic" enctype="multipart/form-data">
        <input placeholder="@Model.City" type="text"/>
        <input placeholder="@Model.ClinicName" type="text"/>
        <input type="submit"/>
    </form>
</div>