@model Clinic

<div>
    <label>Enter new clinic info here:</label>
    <form id="UpdateClinicForm" action="CreateClinic" enctype="multipart/form-data">
        <input placeholder="City" type="text" />
        <input placeholder="Name" type="text" />
        <input type="submit" />
    </form>
</div>